# ---------- Vivado / ISE ----------
*.jou
*.log
*.rpt
*.wdb
*.pb
*.dcp
*.bit
*.bin
*.xpr
*.xise
.cache/
.hw/
.ip_user_files/
.runs/
.sim/

# ---------- Quartus ----------
db/
incremental_db/
*.rpt
*.sof
*.pof
*.qpf
*.qsf

# ---------- ModelSim / Questa ----------
work/
transcript
vsim.wlf
*.wlf
*.ucdb
*.vcd

# ---------- GHDL ----------
work-obj*/
*.ghw

# ---------- Editors / OS ----------
.vscode/
*.swp
.DS_Store
